<div class="wrapper">

  <!-- Header -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" id="icon" alt="User Icon" />
    </div>



    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Clientes
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <a [routerLink]="['/Credit/Create']">Crear</a>
          </div>
          <div class="accordion-body">
            <a [routerLink]="['/AdministracionUsuario/Crear']">Listar</a>
          </div>
          <div class="accordion-body">
            <a [routerLink]="['/AdministracionUsuario/Crear']">Actualizar</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Créditos
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <a [routerLink]="['/Credit/Create']">Crear</a>
          </div>
          <div class="accordion-body">
            <a [routerLink]="['/AdministracionUsuario/Crear']">Listar</a>
          </div>
          <div class="accordion-body">
            <a [routerLink]="['/AdministracionUsuario/Crear']">Actualizar</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Tipos de documentos
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <a [routerLink]="['/Credit/Create']">Crear</a>
          </div>
          <div class="accordion-body">
            <a [routerLink]="['/AdministracionUsuario/Crear']">Listar</a>
          </div>
          <div class="accordion-body">
            <a [routerLink]="['/AdministracionUsuario/Crear']">Actualizar</a>
          </div>
        </div>
      </div>
    </div>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" style="display: none;" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-person-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
        </div>
      </div>
    </nav>

    <router-outlet></router-outlet>

  </div>

</div>
